# Xcode
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
/.build
/Packages
Package.resolved
.swiftpm/

# Firebase
GoogleService-Info.plist

# Variantes de Firebase
GoogleService-Info*.plist

# Lottie
*.lottiecache

# Build artifacts
build/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Logs
*.log

# Configuración y claves
*.xcconfig
*.p12
*.mobileprovision
*.cert
*.key

# Archivos de entorno
*.env
Secrets.swift

# Misc
*.DS_Store